* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f1f1f1
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: solid 1px #222;
    background: #fff;
}

form h1 {
    margin-top: 0;
}

form label {
    margin-top: 10px;
    margin-bottom: 10px;
}

form label sup {
    color: red;
}

form input[type="text"],
form input[type="email"],
form label,
form textarea {
    position: relative;
    float: left;
    width: 100%;
}

form .erro {
    display: none;
}

form .erro.show {
    display: block;
    color: red;
    font-size: 12px;
    position: relative;
    float: left;
    width: 100%;
    margin: 5px 0 5px 5px;
}

form textarea {
    padding: 10px;
}

form input[type="button"] {
    margin-top: 10px;
    cursor: pointer;
}

form input[type="reset"],
#limpar {
    cursor: pointer;
}

#display {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #222;
    background: #fff;
}

#display h2 {
    margin-top: 0;
}

#display ul {
    padding-left: 15px;
}